{%extends "base5.html"%}
{%load static%}
{%block play_page%}
<div class="body">
    <div class="podcastimg">
        <div class="podcast_img">
            <img src="/web_app/{{pic.play_img}}">
        </div>
        <div class="pod_heading">
            <div class="pod">
            <h4>Album</h4>
            <h1>{{pic.song_name}}</h1>
            <h3>{{pic.artist_name}}</h3>
        </div>
        </div>
    </div>
    <div class="play">
        <div class="playbutton">
           <button>
            <img src="{% static 'image+/play-button.svg'%}">
           </button> 
           <div class="follow"><h2>Follow</h2></div>             -
       </div>
       </div>
       <div class="division abc">
        <div class="div1"><h3># Title</h3></div>
        <div class="div2"><h3>album</h3></div>
        <div class="div3"><h3>date added</h3></div>
        <div class="div4"><h3>duration</h3></div>
       </div>
       <hr class="bba">
       <div class="division">
        <div class="div1">
            <div class="albumpic">
                <img src="/web_app/{{pic.play_img}}">
            </div>
            <div class="albumcontent">
                <h2>{{aplay1.song_name}}</h2>
                <h4>Music video . Zayn malik</h4>
            </div>
        </div>
        
        <div class="div2"><h3>icarus falls</h3></div>
        <div class="div3"><h3>3/10/2016</h3></div>
        <div class="div4">3:59<h3></h3></div>
       </div>
       <hr>
       <div class="division">
        <div class="div1">
            <div class="albumpic">
                <img src="/web_app/{{pic.play_img}}">
            </div>
            <div class="albumcontent">
                <h2>{{aplay2.song_name}}</h2>
                <h4>Music video . Zayn malik</h4>
            </div>
        </div>
        
        <div class="div2"><h3>icarus falls</h3></div>
        <div class="div3"><h3>3/10/2016</h3></div>
        <div class="div4">3:59<h3></h3></div>
       </div>
       <hr>
       <div class="division">
        <div class="div1">
            <div class="albumpic">
                <img src="/web_app/{{pic.play_img}}">
            </div>
            <div class="albumcontent">
                <h2>{{aplay3.song_name}}</h2>
                <h4>Music video . Zayn malik</h4>
            </div>
        </div>
        
        <div class="div2"><h3>icarus falls</h3></div>
        <div class="div3"><h3>3/10/2016</h3></div>
        <div class="div4">3:59<h3></h3></div>
       </div>
       <hr>
       <div class="division">
        <div class="div1">
            <div class="albumpic">
                <img src="/web_app/{{pic.play_img}}">
            </div>
            <div class="albumcontent">
                <h2>Entertainer</h2>
                <h4>Music video . Zayn malik</h4>
            </div>
        </div>
        
        <div class="div2"><h3>icarus falls</h3></div>
        <div class="div3"><h3>3/10/2016</h3></div>
        <div class="div4">3:59<h3></h3></div>
       </div>
       <hr>
       <div class="division">
        <div class="div1">
            <div class="albumpic">
                <img src="/web_app/{{pic.play_img}}">
            </div>
            <div class="albumcontent">
                <h2>There you are</h2>
                <h4>Music video . Zayn malik</h4>
            </div>
        </div>
        
        <div class="div2"><h3>icarus falls</h3></div>
        <div class="div3"><h3>3/10/2016</h3></div>
        <div class="div4">3:59<h3></h3></div>
       </div>
       <hr>
       <div class="division">
        <div class="div1">
            <div class="albumpic">
                <img src="/web_app/{{pic.play_img}}">
            </div>
            <div class="albumcontent">
                <h2>Common</h2>
                <h4>Music video . Zayn malik</h4>
            </div>
        </div>
        
        <div class="div2"><h3>icarus falls</h3></div>
        <div class="div3"><h3>3/10/2016</h3></div>
        <div class="div4">3:59<h3></h3></div>
       </div>
       <hr>
       <div class="division">
        <div class="div1">
            <div class="albumpic">
                <img src="/web_app/{{pic.play_img}}">
            </div>
            <div class="albumcontent">
                <h2>tell me</h2>
                <h4>Music video . Zayn malik</h4>
            </div>
        </div>
        
        <div class="div2"><h3>icarus falls</h3></div>
        <div class="div3"><h3>3/10/2016</h3></div>
        <div class="div4">3:59<h3></h3></div>
       </div>
       <hr>
       <div class="division">
        <div class="div1">
            <div class="albumpic">
                <img src="/web_app/{{pic.play_img}}">
            </div>
            <div class="albumcontent">
                <h2>Me and U</h2>
                <h4>Music video . Zayn malik</h4>
            </div>
        </div>
        
        <div class="div2"><h3>icarus falls</h3></div>
        <div class="div3"><h3>3/10/2016</h3></div>
        <div class="div4">3:59<h3></h3></div>
       </div>
       <hr>
       <div class="division">
        <div class="div1">
            <div class="albumpic">
                <img src="/web_app/{{pic.play_img}}">
            </div>
            <div class="albumcontent">
                <h2>Inside-out</h2>
                <h4>Music video . Zayn malik</h4>
            </div>
        </div>
        
        <div class="div2"><h3>icarus falls</h3></div>
        <div class="div3"><h3>3/10/2016</h3></div>
        <div class="div4">3:59<h3></h3></div>
       </div>
       <hr>
       

</div>
<div class="mediaheader">
    <div class="join">
        <div class="medialogo">
            <img src="./images/Fellow.svg"> 
        </div>
        <div class="mediahome">
            <button class="medbutton" onclick="toggleDropdown()">
                <h3>Menu</h3>
                <span class="material-symbols-outlined">
                arrow_drop_down_circle
                </span>
            </button>
            <div class="dropdown" id="dropdownMenu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Playlist</a></li>
                    <li><a href="#">Podcast</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div> 

</div>
{%endblock%}