{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fellow-podcast-display</title>
    <link rel="stylesheet" href="{% static 'css/Aprojectmain.css'%}">
    <link rel="stylesheet" href="{% static 'css/apodcastbody.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_drop_down_circle" />
</head>
<body>
    {%include 'header.html'%}
    {%block page%}
    
    {%endblock%}
</body>
<script>
    let submenu = document.getElementById("submenu");
function ToggleMenu() {
    submenu.classList.toggle("open-menu");
}

function toggleDropdown() {
    const dropdown = document.getElementById('dropdownMenu');
    dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
}
</script>
</html>